<form name="form" id="form" #myForm="ngForm">
  <table width="100%" style="width:100%" border="1">
    <tr>
      <td>Н.п.п.</td>
      <td *ngFor="let column of metaData">
        {{column.comment}}
      </td>
    </tr>
    <tr>
      <td>-</td>
      <td *ngFor="let column of metaData">
        <input type="text" [name]="column.name" [id]="column.name" [(ngModel)]="column.filterInfo.value" (ngModelChange)="filterChanged($event)">
      </td>
    </tr>
    <tr *ngFor="let item of getRowForPage(); let idx = index" style="cursor: pointer;" (click)="selectRow(item)">
      <td>{{idx}}</td>
      <td *ngFor="let column of metaData">
        {{item[column.name]}}
      </td>
    </tr>
  </table>
  <button (click)="firstPage()"> << </button>
  <button (click)="prevPage()"> < </button>
  {{getHumanCurrentPage()}} из {{getQuPage()}}
  <button (click)="nextPage()"> > </button>
  <button (click)="lastPage()"> >> </button>
</form>
