
<div class="container-fluid" [ngClass]="{hidden: activeForm != 1}">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="content">

                <form method="#11" action="#222" name="test_docEditForm" id="test_docEditForm" (ngSubmit)="onSubmit()" #test_docEditForm="ngForm">

                    <ul role="tablist" class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="#test_doc_common" data-toggle="tab">Документ {{getChanged() ? "* " : ""}} # {{entity.idtest_doc}}</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div id="test_doc_common" class="tab-pane active">
                          <div class="row">
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Наименование</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['name']=null;test_doc_name_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text"   required #test_doc_name_control="ngModel" minlength="2" maxlength="5" class="form-control" name="name" id="name" placeholder="Наименование" [(ngModel)]="entity.name"/>
                                <div *ngIf="test_doc_name_control.errors && (test_doc_name_control.dirty || test_doc_name_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_name_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_doc_name_control.errors.minlength">
                                    Минимальный размер поля 2 символов!
                                  </div>
                                  <div [hidden]="!test_doc_name_control.errors.maxlength">
                                    Максимальный размер поля 5 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_doc_name_control.errors && test_doc_name_control.errors.pattern">
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-9">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Комментарий</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['comment']=null;test_doc_comment_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text"   required #test_doc_comment_control="ngModel" minlength="0" maxlength="512" class="form-control" name="comment" id="comment" placeholder="Комментарий" [(ngModel)]="entity.comment"/>
                                <div *ngIf="test_doc_comment_control.errors && (test_doc_comment_control.dirty || test_doc_comment_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_comment_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_doc_comment_control.errors.minlength">
                                    Минимальный размер поля 0 символов!
                                  </div>
                                  <div [hidden]="!test_doc_comment_control.errors.maxlength">
                                    Максимальный размер поля 512 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_doc_comment_control.errors && test_doc_comment_control.errors.pattern">
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Дата создания</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['dtcre']=null;test_doc_dtcre_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="date"  #test_doc_dtcre_control="ngModel" class="form-control" name="dtcre" id="dtcre" placeholder="Дата создания" [ngModel]="entity.dtcre | date:'yyyy-MM-dd'" (ngModelChange)="entity.dtcre = $event"/>
                                <div *ngIf="test_doc_dtcre_control.errors && (test_doc_dtcre_control.dirty || test_doc_dtcre_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_dtcre_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-6">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Дата документа</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['dtdoc']=null;test_doc_dtdoc_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="date" required #test_doc_dtdoc_control="ngModel" class="form-control" name="dtdoc" id="dtdoc" placeholder="Дата документа" [ngModel]="entity.dtdoc | date:'yyyy-MM-dd'" (ngModelChange)="entity.dtdoc = $event"/>
                                <div *ngIf="test_doc_dtdoc_control.errors && (test_doc_dtdoc_control.dirty || test_doc_dtdoc_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_dtdoc_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                                      <div class="row">
                                          <div class="col-xs-12">
                                              <h4 class="title">Дата созд2</h4>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="date"  #test_doc_dccre2_control="ngModel" class="form-control" name="dccre2" id="dccre2" placeholder="Дата созд2" [ngModel]="entity.dccre2 | date:'yyyy-MM-dd'" (ngModelChange)="entity.dccre2 = $event"/>
                                <div *ngIf="test_doc_dccre2_control.errors && (test_doc_dccre2_control.dirty || test_doc_dccre2_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_dccre2_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-6">

                                      <div class="row">
                                          <div class="col-xs-12">
                                              <h4 class="title">Дата2</h4>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="date"  #test_doc_dtdoc2_control="ngModel" class="form-control" name="dtdoc2" id="dtdoc2" placeholder="Дата2" [ngModel]="entity.dtdoc2 | date:'yyyy-MM-dd'" (ngModelChange)="entity.dtdoc2 = $event"/>
                                <div *ngIf="test_doc_dtdoc2_control.errors && (test_doc_dtdoc2_control.dirty || test_doc_dtdoc2_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_dtdoc2_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Справочник</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['test_dictionary_name']=null;test_doc_test_dictionary_name_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input style="cursor: pointer;" (click)="setActiveForm(2)" required #test_doc_test_dictionary_name_control="ngModel" type="text" readonly class="form-control" name="test_dictionary_name" id="test_dictionary_name" placeholder="Справочник" [(ngModel)]="entity.test_dictionary_name"/>
                                <div *ngIf="test_doc_test_dictionary_name_control.errors && (test_doc_test_dictionary_name_control.dirty || test_doc_test_dictionary_name_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_test_dictionary_name_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-6">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Справочник2</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['test_dictionary2_name']=null;test_doc_test_dictionary2_name_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input style="cursor: pointer;" (click)="setActiveForm(3)"  #test_doc_test_dictionary2_name_control="ngModel" type="text" readonly class="form-control" name="test_dictionary2_name" id="test_dictionary2_name" placeholder="Справочник2" [(ngModel)]="entity.test_dictionary2_name"/>
                                <div *ngIf="test_doc_test_dictionary2_name_control.errors && (test_doc_test_dictionary2_name_control.dirty || test_doc_test_dictionary2_name_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_test_dictionary2_name_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Номер</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['numpos']=null;test_doc_numpos_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="number"  #test_doc_numpos_control="ngModel" pattern="^[-+]?[0-9]*[0-9]$" class="form-control" name="numpos" id="numpos" placeholder="Номер" [(ngModel)]="entity.numpos"/>
                                  <div class="md-errors-spacer" [hidden]="test_doc_numpos_control.valid || test_doc_numpos_control.untouched">
                                      <div class="md-char-counter" *ngIf="test_doc_numpos_control.errors && test_doc_numpos_control.errors.required">
                                          Необходимо заполнить!
                                      </div>
                                      <div class="md-char-counter" *ngIf="test_doc_numpos_control.errors && test_doc_numpos_control.errors.pattern">
                                          Не правильное число!
                                      </div>
                                  </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Цена</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['price']=null;test_doc_price_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="number"  #test_doc_price_control="ngModel" pattern="^[-+]?[0-9]*[.,]?[0-9]+(?:[eE][-+]?[0-9]+)?$" class="form-control" name="price" id="price" placeholder="Цена" [(ngModel)]="entity.price"/>
                                  <div class="md-errors-spacer" [hidden]="test_doc_price_control.valid || test_doc_price_control.untouched">
                                      <div class="md-char-counter" *ngIf="test_doc_price_control.errors && test_doc_price_control.errors.required">
                                          Необходимо заполнить!
                                      </div>
                                      <div class="md-char-counter" *ngIf="test_doc_price_control.errors && test_doc_price_control.errors.pattern">
                                          Не правильное число!
                                      </div>
                                  </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">нум 2 нот нулл</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['numpos2']=null;test_doc_numpos2_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="number" required #test_doc_numpos2_control="ngModel" pattern="^[-+]?[0-9]*[0-9]$" class="form-control" name="numpos2" id="numpos2" placeholder="нум 2 нот нулл" [(ngModel)]="entity.numpos2"/>
                                  <div class="md-errors-spacer" [hidden]="test_doc_numpos2_control.valid || test_doc_numpos2_control.untouched">
                                      <div class="md-char-counter" *ngIf="test_doc_numpos2_control.errors && test_doc_numpos2_control.errors.required">
                                          Необходимо заполнить!
                                      </div>
                                      <div class="md-char-counter" *ngIf="test_doc_numpos2_control.errors && test_doc_numpos2_control.errors.pattern">
                                          Не правильное число!
                                      </div>
                                  </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Цена 2 нот нулл</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['price2']=null;test_doc_price2_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="number" required #test_doc_price2_control="ngModel" pattern="^[-+]?[0-9]*[.,]?[0-9]+(?:[eE][-+]?[0-9]+)?$" class="form-control" name="price2" id="price2" placeholder="Цена 2 нот нулл" [(ngModel)]="entity.price2"/>
                                  <div class="md-errors-spacer" [hidden]="test_doc_price2_control.valid || test_doc_price2_control.untouched">
                                      <div class="md-char-counter" *ngIf="test_doc_price2_control.errors && test_doc_price2_control.errors.required">
                                          Необходимо заполнить!
                                      </div>
                                      <div class="md-char-counter" *ngIf="test_doc_price2_control.errors && test_doc_price2_control.errors.pattern">
                                          Не правильное число!
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Об. тел.</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['phone2']=null;test_doc_phone2_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text" [textMask]="{mask: getEntityMask, keepCharPositions: true}"  required #test_doc_phone2_control="ngModel" minlength="0" maxlength="32" class="form-control" name="phone2" id="phone2" placeholder="Об. тел." [(ngModel)]="entity.phone2"/>
                                <div *ngIf="test_doc_phone2_control.errors && (test_doc_phone2_control.dirty || test_doc_phone2_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_phone2_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_doc_phone2_control.errors.minlength">
                                    Минимальный размер поля 0 символов!
                                  </div>
                                  <div [hidden]="!test_doc_phone2_control.errors.maxlength">
                                    Максимальный размер поля 32 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_doc_phone2_control.errors && test_doc_phone2_control.errors.pattern">
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Тел.</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['phone']=null;test_doc_phone_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text" [textMask]="{mask: getEntityMask, keepCharPositions: true}"   #test_doc_phone_control="ngModel" minlength="0" maxlength="32" class="form-control" name="phone" id="phone" placeholder="Тел." [(ngModel)]="entity.phone"/>
                                <div *ngIf="test_doc_phone_control.errors && (test_doc_phone_control.dirty || test_doc_phone_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_phone_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_doc_phone_control.errors.minlength">
                                    Минимальный размер поля 0 символов!
                                  </div>
                                  <div [hidden]="!test_doc_phone_control.errors.maxlength">
                                    Максимальный размер поля 32 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_doc_phone_control.errors && test_doc_phone_control.errors.pattern">
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">email req</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['email2']=null;test_doc_email2_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #test_doc_email2_control="ngModel" minlength="0" maxlength="128" class="form-control" name="email2" id="email2" placeholder="email req" [(ngModel)]="entity.email2"/>
                                <div *ngIf="test_doc_email2_control.errors && (test_doc_email2_control.dirty || test_doc_email2_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_email2_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_doc_email2_control.errors.minlength">
                                    Минимальный размер поля 0 символов!
                                  </div>
                                  <div [hidden]="!test_doc_email2_control.errors.maxlength">
                                    Максимальный размер поля 128 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_doc_email2_control.errors && test_doc_email2_control.errors.pattern">
                                    Неправильный email
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-3">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">email</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['email']=null;test_doc_email_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  #test_doc_email_control="ngModel" minlength="0" maxlength="128" class="form-control" name="email" id="email" placeholder="email" [(ngModel)]="entity.email"/>
                                <div *ngIf="test_doc_email_control.errors && (test_doc_email_control.dirty || test_doc_email_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_doc_email_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_doc_email_control.errors.minlength">
                                    Минимальный размер поля 0 символов!
                                  </div>
                                  <div [hidden]="!test_doc_email_control.errors.maxlength">
                                    Максимальный размер поля 128 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_doc_email_control.errors && test_doc_email_control.errors.pattern">
                                    Неправильный email
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        </div>

                    </div>

                    <button type="submit" class="btn btn-fill btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-fill btn-primary" (click)="cancelChange()">Отменить</button>

<button type="button" class="btn btn-fill btn-primary" (click)="performAction('TestAction')">Тест действ</button>
<button type="button" class="btn btn-fill btn-primary" (click)="performAction('TestAction2')">Тест2 действ</button>

                </form>
            </div><!-- End content -->
        </div><!-- End card -->
    </div><!-- End row justify-content-md-center -->
</div><!-- End container-fluid -->


<div [ngClass]="{hidden: activeForm != 2}">
    <test_dictionary-list-component
            [childMode] = "1"
            (onSelect) = "setValueTest_Dictionary_Name($event);"
            (onCancel)="setActiveMasterView()"
    ></test_dictionary-list-component>
</div>
<div [ngClass]="{hidden: activeForm != 3}">
    <test_dictionary-list-component
            [childMode] = "1"
            (onSelect) = "setValueTest_Dictionary2_Name($event);"
            (onCancel)="setActiveMasterView()"
    ></test_dictionary-list-component>
</div>
