
<div class="container-fluid" [ngClass]="{hidden: activeForm != 1}">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="content">

                <form method="#11" action="#222" name="test_docitemEditForm" id="test_docitemEditForm" (ngSubmit)="onSubmit()" #test_docitemEditForm="ngForm">

                    <ul role="tablist" class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="#test_docitem_common" data-toggle="tab">Позиция {{getChanged() ? "* " : ""}} # {{entity.idtest_docitem}}</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div id="test_docitem_common" class="tab-pane active">
                          <div class="row">
                        <div class="col-md-12">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">comment</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['comment']=null;test_docitem_comment_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text"    #test_docitem_comment_control="ngModel" minlength="0" maxlength="512" class="form-control" name="comment" id="comment" placeholder="comment" [(ngModel)]="entity.comment"/>
                                <div *ngIf="test_docitem_comment_control.errors && (test_docitem_comment_control.dirty || test_docitem_comment_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_docitem_comment_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_docitem_comment_control.errors.minlength">
                                    Минимальный размер поля 0 символов!
                                  </div>
                                  <div [hidden]="!test_docitem_comment_control.errors.maxlength">
                                    Максимальный размер поля 512 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_docitem_comment_control.errors && test_docitem_comment_control.errors.pattern">
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Наименование</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['name']=null;test_docitem_name_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input type="text"    #test_docitem_name_control="ngModel" minlength="0" maxlength="256" class="form-control" name="name" id="name" placeholder="Наименование" [(ngModel)]="entity.name"/>
                                <div *ngIf="test_docitem_name_control.errors && (test_docitem_name_control.dirty || test_docitem_name_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_docitem_name_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                  <div [hidden]="!test_docitem_name_control.errors.minlength">
                                    Минимальный размер поля 0 символов!
                                  </div>
                                  <div [hidden]="!test_docitem_name_control.errors.maxlength">
                                    Максимальный размер поля 256 символов!
                                  </div>
                                  <div class="md-char-counter" *ngIf="test_docitem_name_control.errors && test_docitem_name_control.errors.pattern">
                                    
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                                      <div class="row">
                                          <div class="col-xs-7">
                                              <h4 class="title">Супер справочник</h4>
                                          </div>
                                          <div class="col-xs-5" style="text-align:right">
                                              <a (click)="entity['test_dictionary_name']=null;test_docitem_test_dictionary_name_control.control.markAsTouched();$event.stopPropagation();"
                                               class="btn-default remove" style="cursor: pointer;"><i class="fa fa-minus-square" style="color: silver"></i></a>
                                          </div>
                                      </div>
  
                            <div class="form-group">
                                <input style="cursor: pointer;" (click)="setActiveForm(2)"  #test_docitem_test_dictionary_name_control="ngModel" type="text" readonly class="form-control" name="test_dictionary_name" id="test_dictionary_name" placeholder="Супер справочник" [(ngModel)]="entity.test_dictionary_name"/>
                                <div *ngIf="test_docitem_test_dictionary_name_control.errors && (test_docitem_test_dictionary_name_control.dirty || test_docitem_test_dictionary_name_control.touched)" class="alert alert-danger">
                                  <div [hidden]="!test_docitem_test_dictionary_name_control.errors.required">
                                    Необходимо заполнить!
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        </div>

                    </div>

                    <button type="submit" class="btn btn-fill btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-fill btn-primary" (click)="cancelChange()">Отменить</button>


                </form>
            </div><!-- End content -->
        </div><!-- End card -->
    </div><!-- End row justify-content-md-center -->
</div><!-- End container-fluid -->


<div [ngClass]="{hidden: activeForm != 2}">
    <test_dictionary-list-component
            [childMode] = "1"
            (onSelect) = "setValueTest_Dictionary_Name($event);"
            (onCancel)="setActiveMasterView()"
    ></test_dictionary-list-component>
</div>
